<template>
    <c-ex20-slot-child>
        <span slot="firstName">Paranthaman</span>
        <span slot="lastName">Ganapathy</span>
    </c-ex20-slot-child>
    <c-ex20-slot-child>
        <span slot="firstName">Bala</span>
        <span slot="lastName">k</span>
    </c-ex20-slot-child>
</template>