<!-- SubscriberComponent.html -->
<template>
    <lightning-card title="Subscriber Component" icon-name="custom:custom14">
        <div class="slds-m-around_medium">
            <p>MessageChannel: Bala</p>
            <p> Message Value :{messageValue} </p>
            <p> Message Source :{messageSource} </p>
            <p> Message Account :{accountName} </p>
            <br>
        </div>
    </lightning-card>
</template>