<template>
    <lightning-card title="Hello World LWC">
    <div>Hello {dynamicGreeting}</div>
    <lightning-input label="Greeting" onchange={greetingChangeHandler}></lightning-input>
    </lightning-card>
    </template>