<template>
    <lightning-card title="Ex 22 - Event Child component">
  <div class="slds-m-around_medium">
    <lightning-input label="Enter Name" onchange={handleChange}>
    </lightning-input>
  </div>
</lightning-card>
</template>