<!-- Sibling Two -->
<template>
  <lightning-card title="Sibling 2" icon-name="custom:custom9">
    <div class="slds-m-around_medium">
      <lightning-formatted-text value={description}></lightning-formatted-text>
      <br />
      <lightning-formatted-number
        value={descriptionValue}
      ></lightning-formatted-number>
    </div>
  </lightning-card>
</template>